@import "./src/themes/alianza.scss";

:host {

    $body_size : 960px;

    .mat-card {
        width:$body_size;
        margin: 0 auto;
    }

    .tab-header {
        position: fixed;
        z-index: 20;

        div {
            width: $body_size;
            margin: 0 auto;
        }
    }

    .tab-content {
        margin-top: -20px;
    }

    /deep/ .mat-tab-group {
        .mat-tab-body-wrapper {
            margin: 0 auto;
            width: 960px;
            margin-top: 48px;
        }

        .mat-tab-header {
            font-size: 100px !important;
            position: fixed;
            width: 100%;
            z-index: 10;
            background-color: $primary;

            .mat-tab-label-container {
                .mat-tab-list {
                    .mat-tab-labels {
                        width: 960px;
                        margin: 0 auto;
                        .mat-tab-label-content {
                            color: white;
                        }
                    }

                    .mat-ink-bar {
                        background-color: $accent;
                    }
                }
            }
        }
    }

    
}