:host {

    $body_size : 960px;

    .mat-card {
        width:$body_size;
        margin: 0 auto;
    }

    .tab-header {
        position: fixed;
        z-index: 20;

        div {
            width: $body_size;
            margin: 0 auto;
        }
    }

    .tab-content {
        margin-top: -20px;
    }
}