
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      Todos
    </ng-template>
    
    <mat-list>
      <div *ngFor="let client of clients">
          <mat-list-item (click)="openClientDetail(client)">
              <button mat-mini-fab *ngIf="client.persona.trim() !=='Jurídica'">
                  <mat-icon mat-list-icon >face</mat-icon>
              </button>

              <button mat-mini-fab color="primary"  *ngIf="client.persona.trim() ==='Jurídica'">
                  <mat-icon mat-list-icon >business</mat-icon>
              </button>
              <div class="item-list-detail">
                  <h4>{{client.nombreCompleto}}</h4>
                  <p><b>Cip: </b> {{client.cip_ruc}}</p>
                  <p><b>Telefonos: </b> {{client.phones}}</p>
              </div>
          </mat-list-item>
          <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-tab>

  <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>face</mat-icon> 
        Naturales
      </ng-template>
      <mat-list>
          <div *ngFor="let client of clients">
            <div *ngIf="client.persona.trim() !=='Jurídica'">
                <mat-list-item (click)="openClientDetail(client)" >
                    <button mat-mini-fab >
                        <mat-icon mat-list-icon >face</mat-icon>
                    </button>
                    <div class="item-list-detail">
                        <h4>{{client.nombreCompleto}}</h4>
                        <p><b>Cip: </b> {{client.cip_ruc}}</p>
                        <p><b>Telefonos: </b> {{client.phones}}</p>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
            </div>
          </div>
        </mat-list>
    </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>business</mat-icon> 
      Juridicos
    </ng-template>
    
    <mat-list>
        <div *ngFor="let client of clients">
          <div *ngIf="client.persona.trim() ==='Jurídica'">
              <mat-list-item (click)="openClientDetail(client)"  >
                  <button mat-mini-fab color="primary" >
                      <mat-icon mat-list-icon >business</mat-icon>
                  </button>
                  <div class="item-list-detail">
                      <h4>{{client.nombreCompleto}}</h4>
                      <p><b>Cip: </b> {{client.cip_ruc}}</p>
                      <p><b>Telefonos: </b> {{client.phones}}</p>
                  </div>
              </mat-list-item>
              <mat-divider></mat-divider>
          </div>
        </div>
      </mat-list>
  </mat-tab>
</mat-tab-group>