<mat-sidenav-container class="login">
    <mat-sidenav class="side candy-carousel" mode="side" position="end" opened>
        <login-form></login-form>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <div class="message">
            <div class="centered">
                <h1>Bienvenido a la demo del portal Alianza Intermediario de seguros.</h1>
                <br/>
                <div style="font-size: 50px;">
                        &#10084;
                </div>
                <br/>
                <h2> &#9734; &#9734; &#9734; &#9734; &#9734;POWERED BY WEBLASBS&#9734; &#9734; &#9734; &#9734; &#9734;</h2>
                <br>
                <br>
                <div> Esta demo forma parte del proyecto de renovación digital de Alianza.</div>
                <div>
                    <br>
                    <b>Autor:</b>
                    <br> javierlog08@gmail.com</div>
            </div>
        </div>
        <div class="background"></div>
    </mat-sidenav-content>
</mat-sidenav-container>