<mat-sidenav-container class="login">
    <mat-sidenav class="side" mode="side" position="end" opened>
        <login-form></login-form>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <div class="message">
            <h1>Welcome to weblabs Front-End Starter</h1>
            <img src="../../assets/angularB.png"/>

            <br/><br/>
            <div> Now you can create almost everything you want from here.</div>
            <div><br><b>Author:</b> <br> javierlog08@gmail.com</div>
        </div>
        <div class="background"></div>
    </mat-sidenav-content>
</mat-sidenav-container>