
<div class="login-form">
        <div class="header">
                <img width="200" height="200" src="../../assets/angularB.png"/>
                <h1>Login</h1>
                <h4>Go to Home</h4>
        </div>

        <div class="content">
                <mat-form-field>
                    <input [(ngModel)]="model.username" matInput placeholder="Username">
                </mat-form-field>
            
                <mat-form-field>
                    <input [(ngModel)]="model.password" type="password" matInput placeholder="Password">
                </mat-form-field>
            </div>
</div>




<button mat-raised-button (click)="auth()"  color='primary'>LogIn</button>