<mat-card>
    <mat-card-title>Bienvenido a nuestra DEMO !</mat-card-title>
    <mat-card-content>
        <p>Este proyecto fue creado por <b>@javierlog08</b></p>
        <p>La idea principal es dar inicio a el proceso de renovación digital para nuestro cliente.</p>
        <p>Este portal es parte de la nueva capa de servicios de informacion con la que contará  <b>Alianza Intermediario de Seguros</b></p>
        <p>Este proyecto conecta con un webservice para extraer información de manera segura desde las plataforma del Alianza.</p>
        <p>Puedes ver mas detalle en el repositorio del proyecto <a href="https://github.com/javierlog08/weblabs-alz-ws"><b>Alianza API project</b></a>. </p>
    </mat-card-content>
</mat-card>