<mat-card>
    <mat-card-title>Welcome Home !</mat-card-title>
    <mat-card-content>
        <p>This project was created by <b>@javierlog08</b></p>
        <p>You can use this project as starter template to develop an amazing web app</p>
        <p>This project is powered by Angular CLI Version <b>6.0.3</b></p>
        <p>This project can work any backend projet with Http Basic Authentication.</p>
        <p>we sugget you to work with the <a href="https://github.com/javierlog08/weblabs-api"><b>WebLabs API project</b></a> as backend. </p>
    </mat-card-content>
</mat-card>